@page "/addSensor"
@using HydroMonitor.Models
@using HydroMonitor.Repository

@inherits ComponentBase

@inject SensorDAO sensorDAO; //add the singleton from the application context
@inject SensorTypeDAO sensorTypeDAO;
@* @inject List<SensorType> SensorTypes; *@ 


<h3>Add Sensor</h3>
<section class="col-lg-6 col-sm-12">
    
    <div class="form-group">
        <label class="form-label">IP Address</label>
        <InputText @bind-Value="sensor.IpAddress" class="form-control" />
    </div>
    @* MAYBE: scan the local network first and present a list of valid IP addresses? *@
    <div class="form-group">
        <label class="form-label">Sensor Type
            <InputSelect class="form-select" @bind-Value="selectedType" @onselectionchange=typeChanged>
                @foreach (var type in sensorTypes)
                {
                    <option value="@type">@type.Name</option>
                }
            </InputSelect>
        </label>
    </div>
    <button class="btn btn-primary col-sm-3" @onclick="submit">Save</button>
</section>

<section class="col-lg-6 col-sm-12">
    @* map goes here*@
    <Image Source="dotnet_bot.png"/>


</section>

Placeholder page for the sensor management component.

@code {

    private SensorType? selectedType { get; set; }
    private Sensor? sensor { get; set; }
    private List<SensorType>? sensorTypes { get; set; } = new List<SensorType>();


    protected override async Task  OnInitializedAsync()
    {
        sensor = new Sensor();
        sensorTypes = await sensorTypeDAO.Load();
        System.Diagnostics.Debug.WriteLine($"loaded sensor type list");
        StateHasChanged();
    }


    public void typeChanged()
    {
        sensor.SensorType = selectedType;
        sensor.SensorTypeId = selectedType.typeId;
    }

    public async void submit()
    {
        //send to database
        if (sensor != null)
        {
            await sensorDAO.Save(sensor);
            System.Diagnostics.Debug.WriteLine($"Saved sensor as id: {sensor.SensorId}");
        }

        //TODO: add confirmation message to webpage

    }

}
