@page "/addSensor"
@using HydroMonitor.Models
@using HydroMonitor.Repository
@inherits ComponentBase

@inject SensorDAO sensorDAO; //add the singleton from the application context
@inject SensorTypeDAO sensorTypeDAO;


<h3>AddSensor</h3>
<section class="col-md-6">
    <div>
        <label>Sensor Name</label>
        <InputText @bind-Value="sensor.Name"/>
    </div>

    <div>
        <label>IP Address</label>
        <InputText @bind-Value="sensor.IpAddress" />
    </div>
    @* MAYBE: scan the local network first and present a list of valid IP addresses? *@
    <div>
        <InputSelect @bind-Value="selectedType" @onselectionchange=typeChanged>
            @foreach (var type in sensorTypes)
            {
                <option value="@type">@type.Name</option>
            }
        </InputSelect>
    </div>
    <button class="btn btn-primary" @onclick="submit">Save</button>
</section>

<section class="col-md-6">
    @* map goes here*@



</section>

Placeholder page for the sensor management component.

@code {

    private SensorType? selectedType { get; set; }
    private Sensor? sensor { get; set; }
    private List<SensorType>? sensorTypes { get; set; } = new List<SensorType>();


    protected override async Task  OnInitializedAsync()
    {
        sensor = new Sensor();
        sensorTypes = await sensorTypeDAO.Load();
        System.Diagnostics.Debug.WriteLine($"loaded sensor type list");
        StateHasChanged();
    }




    public void typeChanged()
    {
        sensor.SensorType = selectedType;
        sensor.SensorTypeId = selectedType.typeId;
    }

    public async void submit()
    {
        //send to database
        if (sensor != null)
        {
            await sensorDAO.Save(sensor);
            System.Diagnostics.Debug.WriteLine($"Saved sensor as id: {sensor.SensorId}");
        }

        //TODO: add confirmation message to webpage

    }

}
