@page "/"
@using Services
@inject MQTTService service; //starts the mqtt service when the app starts
<h1>HydroMonitor</h1>

<h3>Welcome to your HydroMonitor instance!</h3>

<section>
    <p>Use the menu on the left to:</p>
    <ul>
        <li>Configure your sensor array.</li>
        <li>View the sensors you've already configured.</li>
        <li>Display the data logged by your sensors.</li>
    </ul>
</section>


@code {
    //TODO: build dashboard

    


}
