@page "/"
@using Services
@inject MQTTService service; //starts the mqtt service when the app starts
<h1>HydroMonitor</h1>

<div class="logo col-sm-2 row mb-xl-5">
    <div class="col-sm-12  d-flex justify-content-center"><div class="circle"></div></div>
    <div class="col-sm-6  d-flex justify-content-center mb-5"><div class="circle"></div></div><div class="col-sm-6  d-flex justify-content-center mb-5"><div class="circle"></div></div>
</div>


<h3>Welcome to your HydroMonitor instance!</h3>

<section class="bg-info-subtle">
    <p>Use the menu on the left to:</p>
    <ul>
        <li>Configure your sensor array.</li>
        <li>View the sensors you've already configured.</li>
        <li>Display the data logged by your sensors.</li>
    </ul>
</section>


@code {
    //TODO: build dashboard

    


}
