@page "/"
@using Services
@inject MQTTService service; //starts the mqtt service when the app starts
<h1>HydroMonitor</h1>

Welcome to your HydroMonitor instance!


@code {
    //TODO: build dashboard

    


}
