@page "/viewMap"
@using HydroMonitor.Models
@using HydroMonitor.Repository
@using HydroMonitor.Services

@inject SensorDAO sensorDAO;
@inject SensorLocationDAO locationDAO;
@inject GeolocationService geoService;

<h3>Map</h3>
@if (!geoEnabled) {
    <div class="alert alert-warning">Location services are disabled. If you want to see your location on the map, please enable location services! </div>
}
<div class="alert alert-info">Displays a map of all the sensor locations.</div>
<div class="modal-content">
    <Image Src="/images/floorplandesign.jpg">
    </Image>
    @{
        var pinColour = "";
    }
    @foreach (var location in locationList)
    {
        switch (pinColour)
        { /*TODO: better system for colours*/
            case "":
                pinColour = "blue";
                break;
            case "blue":
                pinColour = "red";
                break;
            case "red":
                pinColour = "yellow";
                break;
            case "yellow":
                pinColour = "";
                break;
        }

        <MapMarker pinCoordinates="location.GetCoordinates()" pinColour="@(pinColour)"></MapMarker>
    }
</div>


@code {
    private readonly PeriodicTimer _periodicTimer = new(TimeSpan.FromSeconds(5));
    List<Sensor> sensorList;
    List<SensorLocation> locationList = new List<SensorLocation>();

    bool geoEnabled { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.sensorList = await sensorDAO.Load();
        foreach (var item in sensorList)
        {
            locationList.Add(await locationDAO.Load(item.SensorId));
        }
        if (await geoService.IsGeolocationEnabled())
        {
            geoEnabled = true;
            RunTimer();
        }
        StateHasChanged();
    }

    protected async void RunTimer()
    { // from https://stackoverflow.com/questions/72711306/what-is-the-best-way-to-use-periodictimer-for-refresh-component-in-blazor-server

        while (await _periodicTimer.WaitForNextTickAsync())
        {
            System.Diagnostics.Debug.WriteLine(geoService.GetCurrentLocation());
        }

    }


}
