@inject SensorDAO sensorDAO;
@using HydroMonitor.Models
@using HydroMonitor.Repository


<div class="nav-scrollable">
    <nav class="flex-column">
        @if(sensorList.Count == 0)
        {
           <div class="nav-item px-3">
            <strong>No items to display.</strong>    
           </div>
        }
        @foreach (var sensor in sensorList)
    {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@($"manageSensors/{sensor.SensorId}") Match="NavLinkMatch.All" >
                <ListItem item=@(new KeyValuePair<int, string>(sensor.SensorId, sensor.Name)) />
            </NavLink>
        </div>
    }
    </nav>
</div>

@code {
    List<Sensor> sensorList;
    public SensorList() {
        this.sensorList = new List<Sensor>();
    }

    protected override async Task OnInitializedAsync()
    {
        this.sensorList = await sensorDAO.Load();
        StateHasChanged();
    }



}