.nav-item {
    color: white;
    background-color : rgba(255,255,255,0.25);
    border-radius: 5px;
    padding: 5px;
}
    .nav-item ::deep a {
        color:white;
    }
        .nav-item ::deep a:hover {
        color: white;
        background-color: rgba(255,255,255,0.1);
    }
    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        background: linear-gradient(180deg, rgba(255,255,255, 0.25), transparent);
        padding-bottom: 3rem;
    }